@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply tracking-wide
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  section {
	@apply w-full h-screen
  }

}

/* :-( */
:root {
  --max-width: 1100px;
  --font-family:  'Noto Sans', sans-serif;

	--white: rgb(238, 234, 234);

	--main-purple:#881DF2;
    --text-main: var(--main-purple);

	--text-secondary: #9c64ba;

	--menu-item-hover: #5327b3;
	--font-weight: 850;
	--text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.97);

	 --background-color: var(--white);
	 --mainCardBack: #f5f5f5;

	 --border-color: var(--text-main);
	 --border-radius: 12px;
	 --border-shadow: 1px 10px 15px var(--main-purple);

	--black-color: rgb(0, 0, 0);
	--navbar-gradient: linear-gradient(132deg, rgb(25, 5, 45) 0.00%, rgb(47, 16, 67) 100.00%);

}


/*if browser´s theme is dark */

@media (prefers-color-scheme: dark){
  :root {
    --background-color: var(--black-color);

 	--menu-item: var(--text-main);
	--menu-item-hover: var(--white);
  }
}

/* Theme button light/dark switch */
[data-theme='dark'] {
	--background-color: rgb(0, 0, 0);
  /*--background-color: linear-gradient(132deg, rgb(0, 1, 0) 0.00%, rgb(38, 7, 24) 100.00%);*/

  --menu-item: var(--text-main);
  --menu-item-hover: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-main);
}


body,
 .main-bg,
 .mobile__Nav{
  background: var(--background-color);
}

.custom__color{
	color: var(--text-main);
}
.custom__border{
	border-color: var(--text-main);
}

.custom__boxShadow{
	box-shadow: var(--border-shadow);
}

.custom__background{
	background: var(--navbar-gradient);
}

/* ------------------
Navbar
--------------------- */

nav{
	  background: var(--navbar-gradient);
	  font-size: 150%;
}

nav .navItem,
article .navItem {
  color: var(--main-purple);
  font-size: 130%;
}
nav .navItem:hover,
.navItem:hover{
  color: var(--menu-item-hover);
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}

.navCover{
	background: var(--background-color);
	border: 2px solid var(--main-purple);
	color: var(--main-purple)
}

.tooltip:hover .tooltip-item {
    visibility: visible;
}

.mainCardBack{ background: var(--mainCardBack); }
strong{ font-weight: var(--font-weight);}

.borders,
.text-shadow{
	  text-shadow: var(--text-shadow);
}

.mainCardBorder{border-color: var(--border-color);}
.mainCardBorderGreen{
	border-color: green;
}
.borderShadow:hover{
	box-shadow: var(--border-shadow);
}

.irregularCardBorder{
	border: 4px double var(--border-color);
	box-shadow: var(--border-shadow);
	}
/* ------------------
Animations
--------------------- */

details[open] summary ~ *,
.starsDiv > *,
nav {
  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0%    {opacity: 0; margin-left: -20px}
  100%  {opacity: 1; margin-left: 0px}
}
/*
@keyframes animateUl {
  0%    {opacity: 0; margin-left: -20px;}
  60%  {opacity: 1; margin-left: 30px; transform: scale(0.9);}
  100% {transform: scale(1);}
}

.ulAnimation li {
  animation: animateUl 1s ease-in-out;
}
*/

 .ulAnimation li:nth-child(1) {
    transition-delay: 0.2s;
  }

  .ulAnimation li:nth-child(2) {
    transition-delay: 0.4s;
  }

  .ulAnimation li:nth-child(3) {
    transition-delay: 0.6s;
  }

  .ulAnimation li:nth-child(4) {
    transition-delay: 0.8s;
  }

  .ulAnimation li:nth-child(5) {
	transition-delay: 1s;
  }

  .ulAnimation li:nth-child(6) {
	transition-delay: 1.2s;
  }

  .ulAnimation li:nth-child(7) {
	transition-delay: 1.4s;
  }

  .ulAnimation li:nth-child(8) {
	transition-delay: 1.6s;
  }