@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  strong {
    @apply font-bold text-cyan-600
  }
}

/* :-( */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --background-color: white;
    --mainCardBack: white;

    --blue-main: #1c76c6;

}


/*if browser´s theme is dark */
@media (prefers-color-scheme: dark){
  :root {

    --background-color: linear-gradient(132deg, rgb(0, 1, 0) 0.00%, rgb(3, 3, 38) 100.00%);
    --mainCardBack: linear-gradient(132deg, rgb(18, 8, 17) 0.00%, rgb(3, 3, 38) 100.00%);

    --blue-main: #1c76c6;


  }

}

/* Theme button light/dark switch */
[data-theme='dark'] {

  --background-color: linear-gradient(132deg, rgb(0, 1, 0) 0.00%, rgb(3, 3, 38) 100.00%);
  --mainCardBack: linear-gradient(132deg, rgb(18, 8, 17) 0.00%, rgb(3, 3, 38) 100.00%);

  --blue-main: #1c76c6;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--blue-main);

}


body,
nav,
 .main-bg,
 .mobile__Nav{
  background: var(--background-color);

}

.mainCardBack{
  background: var(--mainCardBack);
}
/* ------------------
Animations
--------------------- */
details[open] summary ~ *,
.starsDiv > *,
nav {
  animation: animate 1s ease-in-out;
}



@keyframes animate {
  0%    {opacity: 0; margin-left: -20px}
  100%  {opacity: 1; margin-left: 0px}
}
