.__my_grid{
	display: grid;
	 grid-template-columns: repeat(12, 1fr);
	 grid-template-rows: repeat(12, 1fr);
}

@media screen and (max-width:639px)

{
	#section-2{
		height: auto;
		align-items: center;
  		justify-content: space-between;

	}
	#section-2 div{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.__my_grid{
		height: auto;
		min-height: 150dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}


	.__my_grid_item{
		z-index: 0;
		height: 300px;
		width: 90%;
		max-width: 400px;
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
		border-radius: 30px;
		transition: all 0.3s ease-in-out;
	}


	.__my_grid_item:nth-child(1){
		height: 55dvh;
		min-height: 400px
	}
	.__irr_image{
		z-index: 0;
		height: 10px;
	}
}


@media screen and (max-width:900px) and (orientation: landscape)
{
.__css_height{
	height: 100px;
}
}

@media screen and (max-height:374px) and (orientation: landscape)
{
.__icon_index{
	height: 15vh;
	/*margin-bottom: 15px;*/
}
.__css_height{
	height: 20vh;
}
.__css_height h1{
	font-size: 15vh;
}
.__css_size h2{
	font-size: 5vh;
}
.__css_small_height_index_container{
	margin-top: 8vh;
	height: 75vh
}
}