/*
    MENU
*/

@media screen and (max-height: 550px) and (orientation: landscape) and (max-width:813px)
{
  .responsiveMenu{
    width: 100vw;
    padding: 1rem;
  }
  .responsiveMenu nav ul main{

  display: flex;
  justify-content: space-between;
  /*align-items: flex-start;*/
 
  }
  .responsiveMenu nav ul main details{
    width: 50%;

  }
  
 
  .responsiveMenu nav ul main details{

    padding: 0;
  }
}



/*
IIREGULAR
*/
@media screen and (max-height: 532px) and (orientation: landscape)
{
.section_Responsive{
    height: auto;
    }
 
 

}

@media screen and (max-height: 532px) and (orientation: portrait)
{
.section_Responsive{
    height: auto;
    }

}

@media screen and (max-height: 475px) and (orientation: landscape)
{
  .card_Ul{
    padding: 0.5em 2em;
  
  }

  .card_Ul li{
    padding: 0.5rem;
  }

.card_Ul li:last-child{
 margin-top: 0;
}

.responsiveMenu{
  overflow: auto;
  }
}